{% load staticfiles %}

<h1>{{ question.question_text }}</h1>

<link rel="stylesheet" type="text/css" href="{% static 'polls/detail_style.css' %}"/>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<h2> Options </h2>
<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <table>
        {% for choice in question.choice_set.all %}
            <tr>
                <td class="checkbox">
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
                </td>
                <td class="label">
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br><br><input class="submit" type="submit" value="Vote..."/>
</form>
