{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}"/>
<h1> Hey! Wecome to Public Poll</h1>
<h4>
    <flushright>(Developed by WIP1 Team)</flushright>
</h4>
<h2> Questions </h2>
{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}


